// fonts
// font-family: "Montserrat Alternates", sans-serif;
// font-family: "Inter", sans-serif;
// font-family: "Sacramento", sans-serif;

// colors
$body-background: #f0ecec;
$text-color: #000000;
$light-background: #ffffff;
$dark-background: #2e4545;
$header-hover: #F1F1F1;
$line-color: #000000;
$button-background: #000000;
$button-text: #FFFFFF;
$input-background: #D7D7D7;
$input-text: #7E7E7E;
$true-color: #039900;
$false-color: #990000;
$football-field: #5ABB58;
$empty-card-background: #D9D9D9;

// base styles
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(/src/img/main-background.png);
    background-position: center top 114px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    background-color: $body-background;
    transition: background-color 0.2s ease;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.container{
    width: 1090px;
    margin: 0 auto;
    padding: 36px 15px;
    background-color: $light-background;    
    transition: background-color 0.2s ease;
}

.section__line{
    width: 536px;
    height: 1px;
    background-color: $line-color;
    margin: 0 auto;
    margin-bottom: 36px;
}