.game__title {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 16px;
  color: $text-color;
}
.game__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#userInput {
  background-color: $input-background;
  border: none;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 1px 3px 0px 1px rgba(0, 0, 0, 0.3);
  outline: none;
  position: relative;
}

#userInput::placeholder {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  size: 12px;
  line-height: 14.63px;
}
.game__compare-icon {
  width: 15px;
  height: 15px;
  fill: $light-background;
  margin: 4px;
}

#compareBtn {
  border: none;
  background-color: $button-background;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.3);
  padding: 6px;
  position: absolute;
}
