.year__wrap_list{
    justify-content: center;
    display: flex;
}
.year__input{
    background-color: #d7d7d7;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    position: relative;
}
.year__btn{
    color: #fff;
    background-color: #000;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
}
.year__resoult{
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.year__last{
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-right: 130px;
    display: flex;
}