.time__calculator_input{
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    border: none;
    background-color: $input-background;
    font-size: 12px;
    font-weight: 400;
    
}

.time__calculator_btn{
    position: absolute;
    padding: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: $button-background;    
    font-size: 12px;
    font-weight: 400;
    
}

.time__calculator_btn_icon{
    fill: $button-text;
}

.time__calculator_title{
    font-size: 12px;
    font-weight: 400;
    color: $text-color;
    text-align: center;
    margin-bottom: 36px;
}

.time__calculator_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    // margin-right: 154px;
    padding-top: 36px;
    padding-right: 130px;
}

.time__calculator_text{
    font-size: 12px;
    font-weight: 400;
    color: $text-color;
    text-align: center;
    
}


.time__calculator_title_wrap{
    display: flex;
    justify-content: center;
}

.time__calculator_container{
    border-top: 1px solid $line-color;
}

