<section class="time__calculator">
    <div class="container time__calculator_container">
        
        <h2 class="time__calculator_title">
            Калькулятор часу
        </h2>
        

        <div class="time__calculator_menu">

            <div>
                <input placeholder="Введіть число" class="time__calculator_input" type="text">
                <button class="time__calculator_btn">
                    <svg class="time__calculator_btn_icon" width="15px" height="15px">
                        <use href="./img/symbol-defs.svg#icon-lens"></use>
                    </svg>
                </button>
            </div>

            <p class="time__calculator_line">-------------------------</p> 
            
            <h2 class="time__calculator_text">0 дн. 0 : 0</h2>
        </div>
    </div>
</section>