<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__body">
      <input type="number" id="num1" placeholder="Введіть число" class="calculator__input-field">
      <div class="calculator__operations">
        <button class="calculator__operation-btn" onclick="setOperation('+')">+</button>
        <button class="calculator__operation-btn" onclick="setOperation('-')">-</button>
        <button class="calculator__operation-btn" onclick="setOperation('*')">*</button>
        <button class="calculator__operation-btn" onclick="setOperation('/')">/</button>
      </div>
      <input type="number" id="num2" placeholder="Введіть число" class="calculator__input-field">
      <button class="calculator__equal-btn" onclick="calculate()">=</button>
      <input type="text" id="result" placeholder="Результат" class="calculator__input-field" readonly>
    </div>
  </div>
</section>
