<section>
  <div class="container">
    <div class="section__line"></div>
    <p class="game__title">Вгадай число, яке загадав комп’ютер</p>
    <div class="game__wrapper">
      <div class="game__input_wrap">
        <input type="text" id="userInput" placeholder="Введіть число" />
        <button id="compareBtn">
          <svg class="game__compare-icon">
            <use href="/src/img/symbol-defs.svg#icon-lens"></use>
          </svg>
        </button>
      </div>
      <p id="resultText">Спробуйте вгадати чиcло</p>
    </div>
  </div>
</section>
