
 <div id="cardNine" class="container">
    <div class="section__line"></div>
    <h3 class="carousel__title">Наша команда</h3> 
    <div class="carousel">
        <button class="carousel__btn carousel__btn-left">&larr;</button> 

        <ul class="gallery">  
          <li class="gallery__card active"> 
            <img src="/src/img/roman-img.jpg" alt="student-one" class="card__img">
            <p class="card__student-name">Рома</p> 
            <p class="card__student-info">Тімлід</p> 
          </li> 
      
          <li class="gallery__card"> 
            <img src="/src/img/margo-img.png" alt="student-two" class="card__img">
            <p class="card__student-name">Марго</p> 
            <p class="card__student-info">Скрам-майстер</p> 
          </li> 
      
          <!-- <li class="gallery__card"> 
            <img src="#" alt="student-three" class="card__img">
            <p class="card__student-name">Давид</p> 
            <p class="card__student-info">Член команди</p> 
          </li>  -->
    
          <li class="gallery__card"> 
            <img src="/src/img/mychailo-img.jpg" alt="student-five" class="card__img">
            <p class="card__student-name">Міша</p> 
            <p class="card__student-info">Член команди</p> 
          </li> 
      
          <li class="gallery__card"> 
            <img src="#" alt="student-six" class="card__img">
            <p class="card__student-name">Артем</p> 
            <p class="card__student-info">Член команди</p> 
          </li> 
          </ul> 
      
          <button class="carousel__btn carousel__btn-right">&rarr;</button> 
    </div>
 </div>
<!-- <div class="carousel"> 



</div>  -->