<section class="dino" id="6"> 
    <div class="border"></div> 
    <h2 class="dino__title"> 
        Google динозавр 
    </h2> 
    <div class="container"> 
        <div class="dino__overlay"> 
            <p class="dino__results"></p> 
            <button class="dino__but"> 
                Restart 
            </button> 
        </div> 
        <p class="dino__points"></p> 
        <img src="https://icon2.cleanpng.com/20180704/wb/aaxsfbpe1.webp" alt="dino"
        width="60px" height="20px">
        <img src="https://w7.pngwing.com/pngs/570/92/png-transparent-cactus-cactus-desert-green-thumbnail.png" alt="cactus"
        width="40px" height="10px"> 
    </div> 
</section>