<section id="biggest">
    <div class="container biggest__wrapper">
        <h2 class="biggest__title">Введіть 3 числа</h2>
        <div class="biggest__inputs-wrapper">
            <input class="biggest__input" id="biggestNum1" placeholder="Введіть число" type="number">
            <input class="biggest__input" id="biggestNum2" placeholder="Введіть число" type="number">
            <input class="biggest__input" id="biggestNum3" placeholder="Введіть число" type="number">
        </div>
        <button  id="biggestCheck" class="biggest__button">Перевірити</button>
        <p id="biggestOutp" class="biggest__output">Найбільше число, яке ви ввели - (Введіть число)</p>
    </div>
</section>