<section class="year"  id="one">
    <div class="container">
        <div class="year__wrap_list">
        <h2 class="year__title">Перевір в який рік ти народився</h2>
        </div>
        <div class="year__list">
            
            <form class="year__form">
                
                <input placeholder="Введіть рік народження" type="text" class="year__input">
                <button class="year__btn">🔍
                    <!--<svg>
                       
                    </svg>-->
                </button>
            </form>
        
            <p class="year__resoult">Ви народились у високосний рік</p>
        </div>
    </div>
</section>