<header class="header">
    <div class="container">
        <ul class="header__positioning-list">
            <li class="header__positioning-item header__left">
                <a class="header__logo-link" href="index.html">
                    <img class="header__logo-img" src="/src/img/logo.png" alt="logo">
                </a>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        <li class="header__nav-item">
                            <div class="header__dropdown">
                                <button id="dropBtn" class="header__text">
                                    Інтерактив <span class="header__rotate-dropdown">></span>
                                </button>
                                <ul class="header__dropdown-content" id="dropdownContent">
                                    <li class="header__dropdown-content-item">
                                            <a href="#" class="header__text header__dropdown-link">
                                            Числовий
                                        </a>
                                    </li>
                                    <li class="header__dropdown-content-item">
                                        <a href="#" class="header__text header__dropdown-link">
                                            Ігровий
                                        </a>
                                    </li>
                                    <li class="header__dropdown-content-item">
                                        <a href="#" class="header__text header__dropdown-link">
                                            Ознайомчий
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__text">Наша команда</a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__text">Контакти</a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li class="header__positioning-item header__right">
                <label class="header__input">
                    <input class="header__checkbox" type="checkbox">
                    <span class="header__slider"></span>
                </label>
                 <p class="header__welcome-user-name"><!--Welcome, --></p>
            </li>
        </ul>
    </div>
</header>